<div>
  
  <% if @recap %>
  <div>TESTTEST</div>
  <% end %>
  
  <% if !@track %>

    <%= form_tag("/api", method: "get") do %>
    <div class="form-group">
      <%= label_tag(:q, "Find an artist :") %>
      <%= text_field_tag(:q, @query, class: "form-control") %>
      <%= submit_tag("Find", class: "btn btn-primary") %>
    </div>
    <% end %>

    <% if @songs && @songs.length>0 %>

      <ul class="list-group">
        <% @songs.each do |song| %>
          <li class="list-group-item">
            <a href="/api?trackId=<%=song[3]%>">
              <div class="songItem">
                <img src="<%= song[2] %>" alt="songCover" class="songCover">
                <div class="songDesc">
                  <h3><%= song[0] %></h3>
                  <h4><%= song[1] %></h4>
                </div>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    <% elsif @query != "" %>
      No results for <strong><%= @query %></strong>
    <% else %>
      Start by finding an artist
    <% end %>

  <% else %>
    <a href="/api">
      <button type="button" name="button" class="btn btn-info">Back</button>
    </a>
    <%= form_tag(controller: "api", action: "index", method: "post") do |f| %>
      <%= hidden_field_tag("difficulty", @track[5]) %>
      <%= hidden_field_tag("track_id", @track[6]) %>
      <% i = 1 %>
      <% @track[4].map do |m| %>
        <%= hidden_field_tag("response"+i.to_s, m) %>
        <% i += 1 %>
      <% end %>
      <p class="songLyrics">
        <div class="songItem">
          <img src="<%= @track[3] %>" alt="songCover" class="songCover">
          <div class="songDesc">
            <h2><%= @track[1] %></h2>
            <h3><%= @track[2] %></h3>
          </div>
        </div>
        <p class="songLyrics">
          <%= @track[0] %>
        </p>
      </p>
      <%= submit_tag("Confirmer") %>
    <% end %>
  <% end %>
</div>
