<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<p>
  <strong>Count:</strong>
  <%= @song.count %>
</p>

<%= link_to 'Modifier', edit_song_path(@song) %> |
<%= link_to 'Retour', songs_path %>
