<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content-type="width=device-width, initial-scale=1">
    <title>MusicRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <li><%= link_to 'MusicRails', root_path, class: 'navbar-brand' %>
          </div>

          <ul class="navbar navbar-nav navbar-right">
            <li><%= link_to 'Home', root_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to 'Se déconnecter (' + current_user.email + ')', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Se connecter', new_user_session_path %></li>
              <li><%= link_to 'S\'inscrire', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>

      </div>
    </nav>
    <div class="container">

      <%= yield %>
    </div>
  </body>
</html>
